@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap");

/* font typewriting  */
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@1&family=Roboto+Mono:wght@300&display=swap");

@layer base {
  /* body {
    @apply font-[Roboto Mono];
  } */
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  color: #474040;
  font-family: "Roboto Mono";
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.logo {
  background-image: url("./images/paint.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1000px;
  height: 250px;
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 15px;
  letter-spacing: 8px;
}

.top-heading {
  font-size: 4rem;
  word-spacing: 10px;
  padding-top: 6.5rem;
  padding-bottom: 0px;
  margin-bottom: -10px;
}

.add-form {
  border-bottom: 4px solid #00a4bd;
  background-color: #9aadd5;
  border-color: #5d6f94;
  border-style: dashed;
  /* background-color: #cfd4d4; */
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 0.5rem;
  margin-left: 3rem;
  font-size: 2rem;
}

.actions button {
  color: #ffffff;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

select,
input {
  color: #4b4848;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-form button {
  text-transform: uppercase;
  background-color: #5d6f94;
  color: #ffffff;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.list {
  background-color: #f8e9e9;
  color: #12120b;
  padding: 4rem 0;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.filter {
  display: flex;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}

.list ul {
  list-style: none;
  width: 80%;
  overflow: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.clear-button {
  background-color: #de9d9d;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #ce92ca;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.stats {
  background-color: #cfd4d4;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
}
